
{% import '_includes/forms.twig' as forms %}


{{ hiddenInput('id', emaillist.id) }}

<div id="fields">
    <div class="flex-fields">
        {{ forms.textField({
            label: 'Email',
            type: 'email',
            name: 'email',
            required: true,
            value: emaillist.email,
            errors: emaillist.errors('email'),
        }) }}

        {% set lists = collect(settings.lists) %}

        {% if emaillist.list and lists.doesntContain('value', emaillist.list) %}
            {% do lists.push({label: "#{emaillist.list|ucfirst} (not configured)", value: emaillist.list}) %}
        {% endif %}


        {{ forms.selectField({
            label: 'List',
            type: 'text',
            name: 'list',
            required: true,
            value: emaillist.list,
            errors: emaillist.errors('list'),
            options: lists
        }) }}


        {{ forms.selectField({
            label: 'Site',
            name: 'site',
            value: emaillist.site,
            required: true,
            options: craft.app.sites.allSites|map(site => {label: site.name, value: site.handle}),
        }) }}

    </div>
</div>